{% include 'head' %}

    <header>
        <p>What, you wanna see other pages?</p>
        <nav>
            <a href="./pages/hobbies">My hobbies</a>
            <a href="./pages/games">Games</a>
            <a href="./pages/code">Code snippets</a>
        </nav>
    </header>

    <aside class="left">
        <h2>Heres some things i like</h2>
        <h3>Games</h3>
            <ul>
                <li>Date everything</li>
                <li>Indigo park</li>
                <li>Five nights at freddies</li>
                <li>Needy streamer overload</li>
                <li>Kinitopet</li>
            </ul>
        <h3>Shows and Movies</h3>
            <ul>
                <li>Transformers (all media)</li>
                <li>Buffet infinity</li>
                <li>One piece</li>
                <li>My little pony</li>
            </ul>
        <h3>Books</h3>
            <ul>
                <li>House of leaves</li>
            </ul>
        <h3>Podcasts</h3>
            <ul>
                <li>The magnus archives</li>
                <li>Welcome to nightvale</li>
                <li>Isekai dnd</li>
            </ul>
    </aside>

    <main>
        <h1>{{ person.name }}'s actual website</h1>
        <img class="mypic" src="assets/meirl.jpg" alt="picture of me">
        <p>My name is Kate, but i also respond to any nicknames you give me</p>
        <img class="divider" src="assets/dividers/divider_bats.gif" alt="">
        <h2>About me</h2>
        <p>I am a nonbinary (they/he/it) bisexual person who's special interest is transformers. Outside of making websites
            I also cosplay, game, collect various trinkets, and occasionally do some baking.
        </p>
        <img class="divider" src="assets/dividers/divider_cakes.gif" alt="">
        <h2>My webdev vibes</h2>
        <p>I'm slowly bringing joy and whimsy back to the internet!
        I'm a big fan of the "old web" aesthetic and developed my interest in frontend by exploring neocities pages.
        </p>
        <img class="divider" src="assets/dividers/divider_spirals.gif" alt="">
        <h3>fun facts</h3>
        <ul>
            <li>My favourite pokemon is Magikarp</li>
            <li>My favourite transformer is Swindle</li>
            <li>I started watching one piece and finished the alabasta arc</li>
            <li>I have a girlfriend who i love very much</li>
        </ul>
        <img class="divider" src="assets/dividers/smileydiv.webp" alt="">
    </main>

    <aside class="right">
        <h2>Wanna listen to some tunes?</h2>
        <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/album/2i8KURNn2NsHnYkhGeOwOh?utm_source=generator&si=b5b7ee3fb4f8407a" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </aside>

  </body>
</html>