{% include 'head' %}

      <header>
          <p>What, you wanna see other pages?</p>
          <nav>
              <a href="hobbies">My hobbies</a>
              <a href="games">Games</a>
              <a href="../index">Home</a>
          </nav>
      </header>
    </body>
</html>