{% include 'head' %}
      <header>
          <p>What, you wanna see other pages?</p>
          <nav>
              <a href="hobbies.liquid">My hobbies</a>
              <a href="../index.liquid">Home</a>
              <a href="code.liquid">Code snippets</a>
          </nav>
      </header>
    </body>
</html>